<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>RELIANCE EDUCAIVE</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="vendor/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"><!-- MAGINIFIC LIGHTBOX -->
<link href="vendor/rs-plugin/css/settings.css" media="screen" rel="stylesheet" type="text/css"><!-- REVOLUTION SLIDER -->
<link href="vendor/rs-plugin/css/navstylechange.css" media="screen" rel="stylesheet" type="text/css"><!-- REVOLUTION SLIDER -->
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
<link href="css/custom.css" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
<!-- Color Style -->
<link href="colors/color1.css" rel="stylesheet" type="text/css">
    
    
<link href="css/animate.css" rel="stylesheet" />
<link href="css/style2.css" rel="stylesheet" />  
    
<!-- SCRIPTS
  ================================================== -->
<script src="js/angular.js"></script>
<!--<script src="js/angular-ui-router.js"></script>-->
<!--<script src="js/state.js"></script>-->
<script src="bower_components/angular-translate/angular-translate.js"></script>     
<script src="js/translate.js"></script>  
<script src="js/home-controller.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/modernizr.js"></script><!-- Modernizr -->    

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>     
<script type="text/javascript" src="js/jquery.cslider.js"></script>     
     
    
    
    <script>
      $(document).ready(function() {

        $('.carousel[data-type="multi"] .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));

          for (var i=0;i<2;i++) {
            next=next.next();
            if (!next.length) {
              next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
          }
        });

      });
    </script>  
    
    
    
</head>
<body class="home" ng-app="gaeaApp" ng-controller="homeCtrl">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body"> 
	<!-- Start Site Header -->
   
		<header class="site-header">
    	
            <div class="row" style="margin-left:0%;margin-right:0%;margin-top:0.5%"> 
                <div class="col-md-4 col-sm-4" style="background:url(images/patterns/back.jpg) repeat;text-align:center; padding-top:14px;padding-bottom:13px;color:#fff;font-size:200%; border-radius:5px 0px 0px 0px;">
                    <b>
                       <i>CFAP</i> 
                    </b>    
                </div>
                 <div class="col-md-4 col-sm-4" style="background:url(images/patterns/back4.jpg) repeat;text-align:center; padding-top:11px;padding-bottom:10px;">   
           
                        <marquee class="col-md-12 col-sm-12" style="background:#fff;text-align:center; width:100%;color:green;border-radius:20px; border:3px solid green;font-size:120%;"> Cours d'anglais début de la prochaine session <span style="color:red"> 08 / 04 / 2017</span></marquee>        
                </div>
                <div class="col-md-4 col-sm-4" style="background:url(images/patterns/back.jpg) repeat;text-align:right; padding-top:1%;padding-bottom:1%; border-radius:0px 5px 0px 0px;">
                        <a href="#" ng-click="changeLanguage('en')" style="padding-right:3%;color:#fff;font-size:100%;text-decoration:none;"><img src="images/drapeau/cm.png" width="7.5%"> 
                         &nbsp; Read us in : <strong>English</strong>   
                        </a>    
                     <!--   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" ng-click="changeLanguage('fr')" style="padding-right:3%;color:#fff;font-size:100%;text-decoration:none;">Français  :
                            &nbsp;<img src="images/drapeau/fran.png" width="6.5%">
                        </a>-->
                </div>
            
            </div>
            
        
       <!-- <h2>{{ 'HEADLINE' | translate }}</h2>-->
       <!-- <p>{{ 'INTRO_TEXT' | translate }}</p>-->
        
        
   
        
    	<div class="lower-header">
        	<div class="container for-navi">
             	<div class="container for-navi">
             	<h1 class="logo" style="margin-left:0%;">
                    <a href="" class="btn_sincrire_intro ">
                                <img src="images/logo/logo.png" alt="" style="width:20%">
                    </a>
                     &nbsp;
                    <img src="images/logo/textlogo.png" alt="" style="width:70%">
             	</h1>
                
              	<!-- Main Navigation MENU-->
              	<nav class="main-navigation">
                  	<ul class="sf-menu">
                        <li><a href="index.html">{{ 'home' | translate }}</a></li>
      					<li><a href="">{{ 'institution' | translate }}</a></li>
                          <li><a href="">{{ 'school' | translate }}</a>
                            <ul>
                                <li><a href="">{{ 'langue' | translate }}</a>
                                    <ul>
                                        <li><a href="anglais.html">{{ 'anglais' | translate }}</a></li>
                                        <li><a href="">{{ 'francais' | translate }}</a></li>
                                        <li><a href="">{{ 'italien' | translate }}</a></li>
                                        <li><a href="">{{ 'allemand' | translate }}</a></li>
                                    </ul>
                                </li>
                                <li><a href="resultats-examen.html">{{ 'informatique_menu' | translate }}</a>
                                     <ul>
                                        <li><a href="omo.html">{{ 'omo' | translate }}</a></li>
                                        <li><a href="ts.html">{{ 'ts' | translate }}</a></li>
                                        <li><a href="iag.html">{{ 'iag' | translate }}</a></li> 
                                    </ul>
                                </li> 
                                <li><a href="infographie.html">{{ 'info' | translate }}</a></li>
                                <li><a href="formation_pro.html">{{ 'professionnelle' | translate }}</a></li>                                
                                <!--<li><a href="activite-extra-scolaire.html">{{ 'activites_extra_scolaires' | translate }}</a></li>
                                <li><a href="">{{ 'association' | translate }}</a></li>-->
                            </ul>
                        </li>
                         <li><a href="">{{ 'admission' | translate }}</a></li>
                        <li><a href="contact2.html">{{ 'contact' | translate }}</a></li>
                    </ul>
                </nav>
                <!-- Mobile Menu Trigger Icon -->
                <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        
	</header>
        
	<!-- End Site Header -->
    <!-- Start Hero Slider -->
    
    
    
    
    	<div class="main" role="main" style="margin-top:15%">
    	<div id="content" class="content full">
    		<div style="margin-left:5.5%;margin-right:5.5%;">
                
                
                
                
                
<div class="double-border"></div>
    <!-- Secondary Header -->
    <div class="secondary-bar">
    	<div class="container">
        	<div class="row" style="text-align:center;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8" style="color:forestgreen;font-size:130%;">
                           Formation Professionnelle
                        </div>
                        <div class="col-md-2">
                    </div>
              	</div>    
            </div>
        </div>
         
        
                
    </br>           
                
           
                
    
                
</br>             
  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
     
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
         <img src="images/form1.jpg" width="70%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
         <img src="images/form2.png" width="130%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="text-align:center;">
         <img src="images/form3.jpg" width="65%">
    </div>
</div>            
 <div class="double-border"></div>
   
            
</br></br></br>            
<div  style="font-size:110%;">    
<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/scret.jpg" alt="" width="8%" style="border-radius:50px;">&nbsp;&nbsp; Secrétariat bureautique bilingue</h3>
                            
</div> 
    
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
                    <img src="images/scr3.jpeg" style="border-radius:12px;" width="80%"> 
                      
                </div>
               
               
                <div class="col-md-7 col-sm-8 col-xs-8" style="padding-top:1%">
                    
<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-elle ?</span></strong>
</p>
La secrétaire bureautique effectue le traitement administratif de dossiers (frappe de courrier, mise en forme de document, ...) et fait suivre les informations (e-mail, notes, fax, ...) pour le compte d'un responsable ou d'un ou plusieurs services en fonction de l'organisation de l'entreprise.
S'occupe parfois du suivi complet de dossiers (contrats de maintenance des équipements, de la structure, ...).
Synchronise parfois une équipe. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-elle ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/sbb1.jpg" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Les différentes formations préparent aux métiers du secrétariat et de la bureautique. Il est possible de devenir : assistant de direction, assistant de manager, hôte(sse) d’accueil, hôte(sse) standardiste, secrétaire, Secrétaire assistant médicale...   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
    

    
    


                
</br> 
</br></br>            
<div  style="font-size:110%;">    
<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/sc1.jpg" alt="" width="14%" style="border-radius:100px;">&nbsp;&nbsp; Secrétaire comptable</h3>
                            
</div>
  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/sc2.jpg" style="border-radius:12px;" width="80%"> 
                </div>
               
                <div class="col-md-7 col-sm-12 col-xs-12" style="padding-top:1%">
                    
<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-elle ?</span></strong>
</p>
Les compétences générales et professionnelles permettent à la secrétaire comptable de s’insérer facilement dans les entreprises ou organisations qui font appel à des employés qualifiés, pour assurer tout ou partie des tâches de secrétariat et de comptabilité dans leurs services ou leurs unités. La secrétaire comptable a des attributions variables, selon qu'elle exerce comme secrétaire attachée au service comptable ou bien comme attachée à la direction, ou encore au service administratif. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-elle ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/sc1.jpg" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Peu de professions peuvent se vanter de ne pas connaître le chômage : or c'est le cas de secrétaires comptables, car toutes les entreprises, ainsi que les associations et les administrations ont besoin de leurs services.   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
        
    






</br>
</br>
</br>

<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/iag9.jpg" alt="" width="16%">&nbsp;&nbsp; Informatique appliquée à la gestion</h3>
                            
</div>

  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/iga10.jpg" style="border-radius:12px;" width="100%"> 
                </div>
               
               
                <div class="col-md-7 col-sm-12 col-xs-12" style="padding-top:1%">
                    
<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-il ?</span></strong>
</p>
La  comptabilité,  la  facturation,  la  paie  puis  le  suivi  des  commandes,  la  gestion  des 
stocks,  l'administration  des  ressources  humaines?  Depuis  longtemps,  l'informatique 
permet  de  traiter  automatiquement  de  nombreuses  données  indispensables  au 
fonctionnement des entreprises. C'est ce que fait l'informaticien de gestion. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-il ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/iag8.jpg" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Peu de professions peuvent se vanter de ne pas connaître le chômage : or c'est le cas des métiers comptables, car toutes les entreprises, ainsi que les associations et les administrations ont besoin de leurs services.   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
        

</br>
</br>
</br>

<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/infographie.png" alt="" width="16%">&nbsp;&nbsp; Graphisme de production</h3>
                            
</div>

  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/infographie.gif" style="border-radius:12px;" width="100%"> 
                </div>
               
               
                <div class="col-md-7 col-sm-8 col-xs-8" style="padding-top:1%">
                    
<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-il ?</span></strong>
</p>
L’infographiste réalise des visuels alliant images, photos, texte et vidéo à partir des outils informatiques. Mais l’infographiste est d’abord un artiste, un concepteur qui sait manier le crayon, la gouache, la craie, les couleurs et l’aérographe…
Ce qui ne l’empêche pas de maîtriser à la perfection des logiciels comme Illustrator, Photoshop, quark Xpress, In Design…Il réalise des dessins grâce à des palettes graphiques, retouche et transforme des photos et des images. Il les assemble sur un même support, après avoir défini, ou appliqué une charte graphique. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-il ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/infographie3.jpg" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Les débouchés sont nombreux : les services de communication d’entreprises, les agences de pub, les sociétés de commerce en ligne, les maisons d’édition, le secteur de la presse, les jeux en ligne, mais aussi le cinéma et la télévision, l’animation…   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
        


</br> 
</br> 
</br> 

<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/msi0.png" alt="" width="16%">&nbsp;&nbsp; Maintenance des systèmes informatiques</h3>
                            
</div>


  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/msi3.jpg" style="border-radius:12px;" width="100%"> 
                </div>
               
               
                <div class="col-md-7 col-sm-12 col-xs-12" style="padding-top:1%">

<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-il ?</span></strong>
</p>
Dans l’entreprise, il est le bon docteur des micro-ordinateurs, le sauveur des utilisateurs dépassés par leur machine. Avec un calme imperturbable, il débusque les « bugs » et neutralise les virus. De quoi éviter beaucoup de crises de nerf. Le technicien informatique réalise l’installation initiale du matériel : poste de travail, applications, périphériques et téléphone. Il installe par la suite les éventuelles mises à jour. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-il ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/msi4.png" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Tous les secteurs d’activités sont utilisateurs d’informatique. Autant dire que la demande est grande pour ce type de postes. Surtout dans les grandes entreprises ou dans le service après-vente de constructeurs ou de vendeurs de matériel informatique.   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
        




</br> 
</br> 
</br> 
<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/reseau1.jpg" alt="" width="16%">&nbsp;&nbsp; Réseaux informatique</h3>
                            
</div>
  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/reseau3.jpg" style="border-radius:12px;" width="100%"> 
                </div>
               
               
                <div class="col-md-7 col-sm-12 col-xs-12" style="padding-top:1%">

<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-il ?</span></strong>
</p>
L'architecte de réseaux conçoit l’architecture du système informatique, installe et configure les réseaux, serveurs et applications, assure le support technique aux utilisateurs en interne comme en externe. Il supervise ensuite la mise en place de tout ce réseau. 
</br></br>    
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-il ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/reseau2.png" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p style="text-align:justify;">
               Les réseaux constituant un élément stratégique de leur développement, les grandes entreprises utilisatrices, dans les domaines de la banque, des télécommunications ou de l'industrie, recrutent également ce type de profil. Les principaux débouchés sont : les sociétés de services et d'ingénierie informatique, les grandes entreprises utilisatrices.   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
        




</br>             
</br>             
</br> 
<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/electro1.png" alt="" width="16%">&nbsp;&nbsp; Électricité</h3>
                            
</div>
  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/elect4.jpg" style="border-radius:12px;" width="100%"> 
                </div>
               
               
                <div class="col-md-7 col-sm-12 col-xs-12" style="padding-top:1%">

<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-il ?</span></strong>
</p>
L’électricien s’occupe de la surveillance, la maintenance et le dépannage courant des installations électriques de différents lieux : logements, bâtiments, sites industriels, collectivités, etc. Pour ce faire, il doit respecter les normes en vigueur en électricité. Il est également soumis à une réglementation. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-il ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/elec5.jpg" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Les électriciens peuvent par exemple intégrer le service de maintenance d’entreprises industrielles, notamment celles de la construction automobile par exemple, de la production d’électricité, ou encore de la sidérurgie. Ils sont aussi très demandés par les entreprises de transport (ferroviaire et aéronautique) et de construction. A noter qu’ils peuvent aussi rejoindre le service après-vente d’un constructeur ou d’un distributeur d’équipements électroniques.   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
        




</br>             
</br>             
</br> 
<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/maintence_electo.jpg" alt="" width="20%">&nbsp;&nbsp; Maintenance électromécanique</h3>
                            
</div>
  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/electro_mec2.png" style="border-radius:12px;" width="100%"> 
                </div>
               
               
                <div class="col-md-7 col-sm-12 col-xs-12" style="padding-top:1%">

<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-il ?</span></strong>
</p>
Dans l’industrie, si une machine automatisée tombe en panne tout le processus de fabrication peut s’arrêter. Pour éviter cette catastrophe économique, on compte sur les compétences d’un technicien de maintenance industrielle. Ainsi ce dernier a pour fonction de régler, de surveiller, de contrôler le bon fonctionnement des machines et du matériel. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-il ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/electro_mec.jpg" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Il peut exercer son métier en qualité d’électromécanicien, de dessinateur industriel, d’automaticien, d’hydraulicien, de technicien d’entretien, de mécanicien de ligne de production, d’agent de maintenance, ... dans divers secteurs d’activités tels que la production de matières premières, la production et la distribution de l’énergie électrique, la construction mécanique et électronique des engins de manutention, les transports, le domaine médical, les services publics et parastataux ...   
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
        </div>
        



</br> 
</br> 
</br> 
<div class="widget sidebar-widget text_widget"> 
        <h3 class="title" style="color:crimson"> <img src="images/chaudr1.jpg" alt="" width="7%" style="border-radius:50px;">&nbsp;&nbsp; Chaudronerie</h3>
                            
</div>
  <div class="row" style="margin-left:-0.5%;margin-right:-0.5%;">
        <div class="col-md-12 col-sm-12 col-xs-12" >
              
<div  style="font-size:110%;">            
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="background:#F7F7F7;border-radius:10px;margin:1%;">
           
           <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:2%">
                     <img src="images/chaudr2.jpg" style="border-radius:12px;" width="100%"> 
                </div>
               
               
                <div class="col-md-7 col-sm-12 col-xs-12" style="padding-top:1%">
                    
<h3 itemprop="name"> <span style="color:crimson">Chaudronerie</span> </h3>

<div class="row" style="text-align:justify;"> 
<div class="col-md-12 col-sm-12 col-xs-12">    
<p>   
<strong><span style="color:#009900">Que fait-il ?</span></strong>
</p>
Le chaudronnier réalise des pièces destinées principalement aux industries automobile, aéronautique ou aérospatiale. Il travaille des plaques ou des tubes de métal, qu'il s'agisse de tôle, d'acier, de cuivre ou encore d'aluminium. 
</br></br>    
<p>   
<strong><span style="color:#009900">Où exerce-t-il ?</span></strong>
</p>      
 </div>              
    </div> 
    </div> 
       
    <div class="col-md-2 col-sm-12 col-xs-12" style="padding-top:2%">
        <img src="images/chaudr3.jpg" style="border-radius:12px;" width="100%"> 
    </div>
       
        </div>
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <p>
               Les secteurs d’activité faisant appel aux compétences des chaudronniers sont variés : industrie automobile, chimique, aéronautique, ferroviaire, mais aussi BTP. Les principaux débouchés : les entreprises spécialisées en chaudronnerie, les industries mécaniques, aéronautiques et de la construction navale.
               
           </p>
           <i style="color:crimson;text-align:right;padding-right:6%;">
               <p>Coût 162 500 F &nbsp;&nbsp; | &nbsp;&nbsp; Durée : 4 mois + 1 mois de stage</p> 
           </i>
       </div>  
  </div> 
    
</br>
 </div>          
</div>     
</div>           
</br>            
  </div>    
</div>      
</div>
</br></br></br>      
</div>





<div class="row" style="margin-left:7%;margin-right:7%;">
    <div class="col-md-5 col-sm-5 col-xs-5">
       <img src="images/homeSlide/Image1.png" width="100%">
    </div>
     <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:center;padding-top:0.5%;">
       <span style="padding-top:-1%;" class="btn_sincrire_intro "><img src="images/logo/logo.png" width="23%"></span>
       <span style="padding-top:2%;"><img src="images/homeSlide/cle.gif" width="50%"></span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:center;padding-top:1%;">
       <img src="images/homeSlide/Image2.png" width="150%">
    </div>
</div>


</br></b>

<div class="row" style="margin-left:7%;margin-right:7%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <span style="color:crimson;font-size:150%;">
           Apprendre un métier et obtenir le <span style="color:forestgreen">DQP (Diplôme de qualification professionnelle)</span>
        </span>
    </div>
</div>
</br>
<div class="row" style="background:#e8e8e8;margin-left:7%;margin-right:7%;padding-top:1%;padding-bottom:1%;border-radius:5px;">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;">
           <a href="formation_pro.html" style="padding:3%;color:#fff;">Secrétariat bureautique bilingue</a> 
        </div>
        <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
            <a href="formation_pro.html" style="padding:3%;color:#fff;">Secrétariat comptable</a> 
        </div>
        <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
            <a href="formation_pro.html" style="padding:3%;color:#fff;">Informatique appliquée à la gestion</a> 
        </div>
    </div>
     <div class="col-md-4 col-sm-12 col-xs-12">
           <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
           <a href="formation_pro.html" style="padding:3%;color:#fff;">Graphisme de production</a> 
        </div>
        <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
            <a href="formation_pro.html" style="padding:3%;color:#fff;">Maintenance des systèmes informatiques</a> 
        </div>
        <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
            <a href="formation_pro.html" style="padding:3%;color:#fff;">Réseaux informatique</a> 
        </div>
    </div>
     <div class="col-md-4 col-sm-12 col-xs-12">
           <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
               <a href="formation_pro.html" style="padding:3%;color:#fff;">Électricité</a> 
        </div>
        <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
            <a href="formation_pro.html" style="padding:3%;color:#fff;">Maintenance électromécanique</a> 
        </div>
        <div class="row" style="margin:2%;background-image:url(images/patterns/back.jpg);border-radius:5px;color:#fff;">
            <a href="formation_pro.html/#chaudronerie" style="padding:3%;color:#fff;">Chaudronnerie</a> 
        </div>
    </div>
</div>



</br></b></br>

<div class="row" style="margin-left:7%;margin-right:7%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <span style="color:crimson;font-size:110%;">
        <i>Quelques liens utiles :</i>   
        </span>
    </div>
</div>
<div class="row" style="background:#e8e8e8;margin-left:7%;margin-right:7%;padding-top:1%;padding-bottom:1%;border-radius:5px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
           <!--<div class="col-md-12 text-center"><h3>Product Carousel</h3></div>-->
      <div class="col-md-12" style="margin-top: 1%; margin-bottom: 1%;">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.editions2015.com/cameroun/cartes.php"><img src="images/homeSlide2/drapeau.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="https://www.prc.cm/"><img src="images/homeSlide2/pr.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.spm.gov.cm/"><img src="images/homeSlide2/immeblEtoile.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>  
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minefop.cm/"><img src="images/homeSlide2/minefop5.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minresi.cm/"><img src="images/homeSlide2/minresi.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minesup.gov.cm/"><img src="images/homeSlide2/inivers.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minesec.cm/"><img src="images/homeSlide2/minesec2.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minedub.cm/"><img src="images/homeSlide2/minedub5.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>   
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minfopra.gov.cm/"><img src="images/homeSlide2/minefopra2.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>  
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.fnecm.org/"><img src="images/homeSlide2/fne.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            
            </div>
      </div>
        </div>
    </div>
</div>






</br></br></br></br>

 
    <div class="row" style="font-size:120%;background-image:url(images/patterns/back.jpg);border-radius:0px;color:#fff;text-align:center;height:25px;">
          <div class="col-md-12 col-sm-12 col-xs-12 ">  
              <span style="font-size:120%;">Le CFAP est situé à " Entrée Laïc " face pharmacie PK8 | Tél : 6 77 78 89 17</span> 
          </div>
    </div>


    <footer class="site-footer site-bottom-footer" style="text-align:center;">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 col-sm-12">
                	<p>&copy; {{ 'dev1' | translate }} MEKE Béranger | mekebranger@yahoo.fr | (+237) 670 06 38 58 | {{ 'dev2' | translate }}</p>
                </div>
            	
            </div>
        </div>
    </footer>
    <!-- End Footer --> 


</div>
<!--<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>--> <!-- Jquery Library Call -->
<script src="vendor/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider --> 
<script src="vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> 
<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script src="js/revolution-slider-init.js"></script> <!-- Revolutions Slider Intialization --> 
<script src="vendor/countdown/js/jquery.countdown.min.js"></script> <!-- Jquery Timer --> 
<script src="js/stat.js"></script>     
</body>
</html>