<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>FS</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="vendor/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"><!-- MAGINIFIC LIGHTBOX -->
<link href="vendor/rs-plugin/css/settings.css" media="screen" rel="stylesheet" type="text/css"><!-- REVOLUTION SLIDER -->
<link href="vendor/rs-plugin/css/navstylechange.css" media="screen" rel="stylesheet" type="text/css"><!-- REVOLUTION SLIDER -->
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
<link href="css/custom.css" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
<!-- Color Style -->
<link href="colors/color1.css" rel="stylesheet" type="text/css">
    
<link href="css/animate.css" rel="stylesheet" />
<link href="css/style2.css" rel="stylesheet" />    
<!-- SCRIPTS
  ================================================== -->
<script src="js/angular.js"></script>
<!--<script src="js/angular-ui-router.js"></script>-->
<!--<script src="js/state.js"></script>-->
<script src="bower_components/angular-translate/angular-translate.js"></script>     
<script src="js/translate.js"></script>  
<script src="js/home-controller.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/modernizr.js"></script><!-- Modernizr --> 
       
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>     
<script type="text/javascript" src="js/jquery.cslider.js"></script>     
  
  <script>
      $(document).ready(function() {

        $('.carousel[data-type="multi"] .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));

          for (var i=0;i<2;i++) {
            next=next.next();
            if (!next.length) {
              next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
          }
        });

      });
    </script>    
    
</head>
<body class="home" ng-app="gaeaApp" ng-controller="homeCtrl">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body"> 
	<!-- Start Site Header -->
   
    
    
	<header class="site-header">
    	
            <div class="row" style="margin-left:0%;margin-right:0%;margin-top:0.5%"> 
                <div class="col-md-4 col-sm-4" style="background:url(images/patterns/back4) repeat;text-align:center; padding-top:14px;padding-bottom:13px;color:#fff;font-size:100%; border-radius:5px 0px 0px 0px;">
					<img src="images/logo/logo.jpg" alt="" style="width:30px">&nbsp;&nbsp;
                    <strong>
                       <i style="font-size: 120%"> {{ 'statique_title' | translate }}</i> 
                    </strong>    
                </div>
                 <div class="col-md-4 col-sm-4" style="background:url(images/patterns/back4) repeat;text-align:center; padding-top:11px;padding-bottom:24px;">   
           
                        <marquee class="col-md-12 col-sm-12" style="background:#fff;text-align:center; width:100%;color:green;border-radius:20px; border:3px solid green;font-size:120%;"> Réprise des cours à l'université de Douala au compte du 2nd semestre le <span style="color:red"> 03 / 01 / 2019</span></marquee>         
                </div>
                <div class="col-md-4 col-sm-4" style="background:url(images/patterns/back4) repeat;text-align:right; padding-top:1%;padding-bottom:26px; border-radius:0px 5px 0px 0px;">
					<span ng-show="langueAn">
                        <a href="#" ng-click="changeLanguage('en')" style="padding-right:3%;color:#fff;font-size:100%;text-decoration:none;"><img src="images/drapeau/cm.png" width="7.5%"> 
                         &nbsp; Read us in : <strong>English</strong>   
                        </a>
					</span>
					<span ng-show="langueFr">
                        <a href="#" ng-click="changeLanguage('fr')" style="padding-right:3%;color:#fff;font-size:100%;text-decoration:none;"><img src="images/drapeau/cm.png" width="7.5%"> 
                         &nbsp; Lisez-nous en : <strong>Français</strong>   
                        </a>
					</span>
						
                     <!--   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" ng-click="changeLanguage('fr')" style="padding-right:3%;color:#fff;font-size:100%;text-decoration:none;">Français  :
                            &nbsp;<img src="images/drapeau/fran.png" width="6.5%">
                        </a>-->
                </div>
            
            </div>
            
        
       <!-- <h2>{{ 'HEADLINE' | translate }}</h2>-->
       <!-- <p>{{ 'INTRO_TEXT' | translate }}</p>-->
        
        
   
        
    	<div class="lower-header">
        	<div class="container for-navi">
             	<div class="container for-navi">
             	<h1 class="logo" style="margin-left:0%;">
                    <a href="" class="btn_sincrire_intro ">
                                <img src="images/logo/logoFS.png" alt="" style="width:20%">
                    </a>
                     &nbsp;
					<i style="font-size: 70%">{{ 'statique_title2' | translate }}</i>
             	</h1>
                
              	<!-- Main Navigation MENU-->
              	<nav class="main-navigation">
                  	<ul class="sf-menu">
                        <li><a href="index.html">{{ 'home' | translate }}</a></li>
                          <li><a href="">{{ 'school' | translate }}</a>
                            <ul>
                                <li><a href="">{{ 'langue' | translate }}</a>
                                    <ul>
                                        <li><a href="biologie_vegetale.html">{{ 'anglais' | translate }}</a></li>
                                        <li><a href="biologie_animale.html">{{ 'francais' | translate }}</a></li>
                                    </ul>
                                </li>
                                <li><a href="maths_info.html">{{ 'informatique_menu' | translate }}</a>
                                </li> 
                                <li><a href="geosciences.html">{{ 'info' | translate }}</a></li>
                                <li><a href="physique.html">{{ 'professionnelle' | translate }}</a></li>               
                                <li><a href="Chimie.html">{{ 'association' | translate }}</a></li>
                            </ul>
                        </li>
                         <li><a href="">{{ 'institution' | translate }}</a>
							 <ul>
                                <li><a href="http://www.systhag-online.cm:8080/SYSTHAG-ONLINE/faces/etudiants/preInscription.xhtml">{{ 'preinscription' | translate }}</a></li>
                                <li><a href="http://facsciences-online.cm/login.php">{{ 'school_project' | translate }}</a></li>               
                                <li><a href="http://facsciences-online.cm/is/index.php">{{ 'educatif_project' | translate }}</a></li>
                            </ul>
						 </li>
                         <li><a href="">{{ 'recherche' | translate }}</a>
							<ul>
                                <li><a href="">{{ 'recherche1' | translate }}</a></li>
                                <li><a href="">{{ 'recherche2' | translate }}</a></li> 
                                <li><a href="">{{ 'recherche3' | translate }}</a></li>
                                <li><a href="">{{ 'recherche4' | translate }}</a></li>
                                <li><a href="">{{ 'recherche5' | translate }}</a></li>
                                <li><a href="">{{ 'recherche6' | translate }}</a></li>
                            </ul>					
						 </li>
                        <li><a href="contact2.html">{{ 'contact' | translate }}</a></li>
                    </ul>
                </nav>
                <!-- Mobile Menu Trigger Icon -->
                <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        
		</div>
			
			
	</header>
        
	<!-- End Site Header -->
    <!-- Start Hero Slider -->
    
    
    <!--<div class="container">-->
    <div style="margin-left:4%;margin-right:4%;margin-top:4%">
    <div class="hero-slider">
      <div class="slider-rev-cont">
          <div class="tp-banner-container">
            <div class="tp-limited">
              <ul >
                <!-- SLIDE  -->
                <li data-delay="5000" data-masterspeed="600" data-slotamount="7" data-transition="fade"> 
                  <!-- MAIN IMAGE --> 
                  <img src="{{slide1}}" alt="">  
                  
					<div class="tp-caption text-align-center h2 sfr whiter tp-resizeme"
						data-x="center"
						data-hoffset="0"
						data-y="center"
						data-voffset="55"
						data-speed="600"
						data-start="1800"
						data-easing="Back.easeInOut"1
						data-endspeed="300">
                         {{'big_text_slide1' | translate}}<br><h3 style="color:#fff;">{{'smallTextSlide1' | translate}} </h3> 
					</div>
                  <!-- LAYER NR. 4 -->
					<div class="tp-caption fade whiter tp-resizeme"
						data-x="center"
						data-hoffset="0"
						data-y="center"
						data-voffset="155"
						data-speed="1000"
						data-start="2800"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                </li>
                <!-- SLIDE  -->
                <li data-delay="5000" data-masterspeed="600" data-slotamount="7" data-transition="fade"> 
                  <!-- MAIN IMAGE --> 
                  <img src="{{slide2}}" alt=""> 
                  <!-- LAYER NR. 1 -->
					<div class="tp-caption sfr whiter h4 tp-resizeme"
						data-x="right"
						data-hoffset="-15"
						data-y="center"
						data-voffset="-80"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'big_text_slide2' | translate}}
					</div>
                  <!-- LAYER NR. 2 -->
					<div class="tp-caption sfr whiter h2 tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="-40"
						data-speed="1000"
						data-start="600"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'small_text_slide2' | translate}}
					</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin whiter customout tp-resizeme"
                        data-x="right"
                          data-hoffset="-20"
                        data-y="center"
                          data-voffset="20"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:100% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    
                        data-start="1100"
                        data-speed="600"
                        data-easing="Linear.easeNone"
                        data-endspeed="600"
                        data-endeasing="Linear.easeNone"
                        ><hr class="md">
                    </div>
                    <!-- LAYER NR. 4 -->
					<div class="tp-caption sfr whiter para text-align-right tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="80"
						data-speed="1400"
						data-start="1000"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                  <!-- LAYER NR. 5 -->
					<div class="tp-caption sfr whiter tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="160"
						data-speed="1000"
						data-start="1800"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                </li>
                <!-- SLIDE  -->
                <li data-delay="5000" data-masterspeed="600" data-slotamount="7" data-transition="fade"> 
                  <!-- MAIN IMAGE --> 
                  <img src="{{slide3}}" alt="">
                  <!-- LAYER NR. 1 -->
					<div class="tp-caption sfr whiter h4 tp-resizeme"
						data-x="right"
						data-hoffset="-15"
						data-y="center"
						data-voffset="-80"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'big_text_slide3' | translate}}
					</div>
                  <!-- LAYER NR. 2 -->
					<div class="tp-caption sfr whiter h2 tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="-40"
						data-speed="1000"
						data-start="600"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'small_text_slide3' | translate}}
					</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin whiter customout tp-resizeme"
                        data-x="right"
                          data-hoffset="-20"
                        data-y="center"
                          data-voffset="20"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:100% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    
                        data-start="1100"
                        data-speed="600"
                        data-easing="Linear.easeNone"
                        data-endspeed="600"
                        data-endeasing="Linear.easeNone"
                        ><hr class="md">
                    </div>
                    <!-- LAYER NR. 4 -->
					<div class="tp-caption sfr whiter para text-align-right tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="80"
						data-speed="1400"
						data-start="1000"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                  <!-- LAYER NR. 5 -->
					<div class="tp-caption sfr whiter tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="160"
						data-speed="1000"
						data-start="1800"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                </li>
                            <!-- SLIDE  -->
                <li data-delay="5000" data-masterspeed="600" data-slotamount="7" data-transition="fade"> 
                  <!-- MAIN IMAGE --> 
                  <img src="{{slide4}}" alt="">
                  <!-- LAYER NR. 1 -->
					<div class="tp-caption sfr whiter h4 tp-resizeme"
						data-x="right"
						data-hoffset="-15"
						data-y="center"
						data-voffset="-80"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'big_text_slide4' | translate}}
					</div>
                  <!-- LAYER NR. 2 -->
					<div class="tp-caption sfr whiter h2 tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="-40"
						data-speed="1000"
						data-start="600"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'small_text_slide4' | translate}}
					</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin whiter customout tp-resizeme"
                        data-x="right"
                          data-hoffset="-20"
                        data-y="center"
                          data-voffset="20"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:100% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    
                        data-start="1100"
                        data-speed="600"
                        data-easing="Linear.easeNone"
                        data-endspeed="600"
                        data-endeasing="Linear.easeNone"
                        ><hr class="md">
                    </div>
                    <!-- LAYER NR. 4 -->
					<div class="tp-caption sfr whiter para text-align-right tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="80"
						data-speed="1400"
						data-start="1000"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                  <!-- LAYER NR. 5 -->
					<div class="tp-caption sfr whiter tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="160"
						data-speed="1000"
						data-start="1800"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                </li>
                            <!-- SLIDE  -->
                <li data-delay="5000" data-masterspeed="600" data-slotamount="7" data-transition="fade"> 
                  <!-- MAIN IMAGE --> 
                  <img src="{{slide5}}" alt="">
                  <!-- LAYER NR. 1 -->
					<div class="tp-caption sfr whiter h4 tp-resizeme"
						data-x="right"
						data-hoffset="-15"
						data-y="center"
						data-voffset="-80"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'big_text_slide5' | translate}}
					</div>
                  <!-- LAYER NR. 2 -->
					<div class="tp-caption sfr whiter h2 tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="-40"
						data-speed="1000"
						data-start="600"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'small_text_slide5' | translate}}
					</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin whiter customout tp-resizeme"
                        data-x="right"
                          data-hoffset="-20"
                        data-y="center"
                          data-voffset="20"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:100% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    
                        data-start="1100"
                        data-speed="600"
                        data-easing="Linear.easeNone"
                        data-endspeed="600"
                        data-endeasing="Linear.easeNone"
                        ><hr class="md">
                    </div>
                    <!-- LAYER NR. 4 -->
					<div class="tp-caption sfr whiter para text-align-right tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="80"
						data-speed="1400"
						data-start="1000"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                  <!-- LAYER NR. 5 -->
					<div class="tp-caption sfr whiter tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="160"
						data-speed="1000"
						data-start="1800"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                </li>
                            <!-- SLIDE  -->
                <li data-delay="5000" data-masterspeed="600" data-slotamount="7" data-transition="fade"> 
                  <!-- MAIN IMAGE --> 
                  <img src="{{slide6}}" alt="">
                  <!-- LAYER NR. 1 -->
					<div class="tp-caption sfr whiter h4 tp-resizeme"
						data-x="right"
						data-hoffset="-15"
						data-y="center"
						data-voffset="-80"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'big_text_slide6' | translate}}
					</div>
                  <!-- LAYER NR. 2 -->
					<div class="tp-caption sfr whiter h2 tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="-40"
						data-speed="1000"
						data-start="600"
						data-easing="Back.easeInOut"
						data-endspeed="300">
                        {{'small_text_slide6' | translate}}
					</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin whiter customout tp-resizeme"
                        data-x="right"
                          data-hoffset="-20"
                        data-y="center"
                          data-voffset="20"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:100% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    
                        data-start="1100"
                        data-speed="600"
                        data-easing="Linear.easeNone"
                        data-endspeed="600"
                        data-endeasing="Linear.easeNone"
                        ><hr class="md">
                    </div>
                    <!-- LAYER NR. 4 -->
					<div class="tp-caption sfr whiter para text-align-right tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="80"
						data-speed="1400"
						data-start="1000"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                  <!-- LAYER NR. 5 -->
					<div class="tp-caption sfr whiter tp-resizeme"
						data-x="right"
						data-hoffset="-20"
						data-y="center"
						data-voffset="160"
						data-speed="1000"
						data-start="1800"
						data-easing="Back.easeInOut"
						data-endspeed="300">
					</div>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    </div>
    
   
    
  
    
    <!-- End Hero Slider -->
    <div class="double-border"></div>
    <!-- Start Lead Block -->
    <div class="lead-block">
    	<div class="container">
            <div class="tabs">
                <div class="nav-tabs-bar">
                    <ul class="nav nav-tabs">
                        <li class="active"> <a data-toggle="tab" href="#sampletab1">{{ 'presentation' | translate }}</a> </li>
                        <!--<li> <a data-toggle="tab" href="#sampletab2">Why you should join us</a> </li>-->
                    </ul>
                 
                </div>
                <div class="tab-content">
                        <div id="sampletab1" class="tab-pane active">
                        <div class="row">
                        	<div class="col-md-7 col-sm-12" style="text-align:justify;">
								<p>.</p>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <img src="images/homeSlide/fac_sc.jpg" width="100%" class="img-thumbnail post-thumb">
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
										<strong style="color:#4CADC5"> {{ 'complexe_scolaire_minus' | translate }} </strong>{{ 'texte3' | translate }}
                                    </div> 
                                </div> 
                                <p>{{ 'texte4' | translate }}</p>                               

                                <hr class="md"><div class="clearfix"></div>
                                <!--<a href="#" class="btn btn-lg btn-primary"><i class="fa fa-cloud-download"></i> Download Brochure</a>-->
                            </div>
                            <div class="col-md-5 col-sm-12" style="text-align:center;">               
                                <!--<iframe width="70%" height="100%" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/x6w1eKP0_ls?&autoplay=1&replay&loop=1">
                                </iframe>-->
                                
                                </br> </br>
                                <img src="images/homeSlide/img15.jpg" width="90%" class="img-thumbnail post-thumb">
                                </br> </br>
                                <img src="images/homeSlide/img12.jpg" width="90%" class="img-thumbnail post-thumb">
                               
                            </div>
                        </div>
                    </div>
		
                    <div id="sampletab2" class="tab-pane">
                    	<div class="row">
                        	<div class="col-md-4 col-sm-12">
                            	<div class="icon-block"><span class="icon label-info"><i class="fa fa-globe"></i></span>
                               	<h2>To make the planet lively{{ 'texte8' | translate }}</h2>
                        		<p>{{ 'texte8' | translate }}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                               	</div>
                            </div>
                        	<div class="col-md-4 col-sm-12">
                            	<div class="icon-block"><span class="icon label-warning"><i class="fa fa-umbrella"></i></span>
                               	<h2>To save the Rain Water{{ 'texte8' | translate }}</h2>
                        		<p>{{ 'texte8' | translate }}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                               	</div>
                            </div>
                        	<div class="col-md-4 col-sm-12">
                            	<div class="icon-block"><span class="icon label-success"><i class="fa fa-tree"></i></span>
                               	<h2>To make Forests Greener{{ 'texte8' | translate }}</h2>
                        		<p>{{ 'texte8' | translate }}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                               	</div>
                            </div>
                            <div class="text-align-center">
                            	<div class="spacer-20"></div>
                            	<a href="#" class="btn btn-primary btn-lg secondary-color-bg">Join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Lead Block -->


</br>


<div class="widget sidebar-widget upcoming-events-widget">
   <h3 class="title widgettitle" style="color:dimgrey;padding-left: 8.5%"><i class="fa fa-folder"></i> L'Administration</h3>
</div>

<div class="row" style="background:#e8e8e8;margin-left:7%;margin-right:7%;padding-top:1%;padding-bottom:1%;border-radius:5px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
           <!--<div class="col-md-12 text-center"><h3>Product Carousel</h3></div>-->
      <div class="col-md-12" style="margin-top: 1%; margin-bottom: 1%;">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="4000" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center">
                  <a href="http://www.editions2015.com/cameroun/cartes.php" style="text-align: center"><img src="images/homeSlide2/Doyen_fac_sc.png" class="img-responsive" width="100%;"></a>
				  <div style="text-align: center;color: blue">
					<div style="font-size: 80%;center;color: deeppink">Pr MOUKENGUE IMANO ALDOPHE</div>
					<div style="font-size: 90%">Doyen</div>
				  </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="https://www.prc.cm/"><img src="images/homeSlide2/vice_doyen_1.png" class="img-responsive" width="100%;"></a>
				  <div style="text-align: center;color: blue">
					<div style="font-size: 80%;center;color: deeppink">Pr AZEBAZE ANATOLE GUY BLAISE</div>
					<div style="font-size: 90%">Vice Doyen chargé de la programmation et du suivi des activités académiques</div>
				  </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.spm.gov.cm/"><img src="images/homeSlide2/vice_doyen_2.png" class="img-responsive" width="100%;"></a>
				  <div style="text-align: center;color: blue">
					<div style="font-size: 80%;center;color: deeppink">Pr PRISO RICHARD JULES</div>
					<div style="font-size: 90%">Vice Doyen chargé de la scolarité, des statistiques et du suivi des étudiants</div>
					<div>.</div>
				  </div>
              </div>
            </div> 
			<div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minesup.gov.cm/"><img src="images/homeSlide2/vice_doyen_3.png" class="img-responsive" width="100%;"></a>
				  <div style="text-align: center;color: blue">
					<div style="font-size: 80%;center;color: deeppink">Pr NDOM JEAN CLAUDE</div>
					<div style="font-size: 90%">Vice Doyen chargé de la recheche et la coopération</div>
				  </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minefop.cm/"><img src="images/homeSlide2/vice_doyen_4.png" class="img-responsive" width="100%;"></a>
				  <div style="text-align: center;color: blue">
					<div style="font-size: 80%;center;color: deeppink">M VOUMDI ALEXIS</div>
					<div style="font-size: 90%">Chef de Division des affaires administratives et financières</div>
					<div style="font-size: 90%">.</div>
				  </div>
              </div>
            </div>
            
            </div>
      </div>
        </div>
    </div>
</div>







  	<!-- Start Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-8 border-col">
                        <!-- Latest Posts -->
                        <div class="latest-posts">
                            <h3 class="title" style="color:dimgrey"><i class="fa fa-folder"></i> {{ 'apprendre_grandir' | translate }}</h3>
                            <ul class="posts-listing">
                                
                                	<li class="post-list-item format-standard">
                                	<div class="row">
                                        <div class="col-md-5 col-sm-12">
                                			<span><img src="images/homeSlide/img6_1.jpg" alt="" class="img-thumbnail post-thumb"></span>
                                        </div>
                                    	<div class="col-md-7 col-sm-6">
                                			<h3 class="post-title"><a href="blog-post.html" style="color:deeppink">{{ 'salle_cours' | translate }}</a></h3>
                                    		
                                    		<!--<p class="post-excerpt">{{ 'enfant_precoce_text' | translate }}</p>-->
                                    		<p class="post-excerpt">
                                                "Augmenter notre faculté de percevoir le Divers, est-ce rétrécir notre personnalité ? Nul doute : c'est l'enrichir abondamment, de tout l'univers."
                                            </p>
                                            <p>Victor Segalen, 1908</p>
                                       	</div>
                                   	</div>
                                </li>
                                	<li class="post-list-item format-standard">
                                	<div class="row">
                                        <div class="col-md-5 col-sm-12" data-appear-animation="fadeInLeft" data-appear-animation-delay="1">
                                			<span><img src="images/homeSlide/Image1.jpg" alt="" class="img-thumbnail post-thumb"></span>
                                        </div>
                                    	<div class="col-md-7 col-sm-12" data-appear-animation="fadeInLeft" data-appear-animation-delay="1">
                                			<h3 class="post-title"><a href="blog-post.html"style="color:deeppink">{{ 'enseignement_bilingue' | translate }}</a></h3>
                                    		<!--<span class="post-time meta-data">Wed 20th July, 14</span>-->
                                    		<!--<p class="post-excerpt">{{ 'enseignement_bilingue_text' | translate }}</p>-->
                                    		<p class="post-excerpt">"Je ne remercierai jamais assez Bill Gates pour avoir transformé un métier relativement terne et basé sur une approche bêtement technique et rigoureuse des faits, en challenge quotidien, nécessitant une remise en question permanente à l’échelle du quart d’heure."

</p>
                                            <p>Roberto Di Cosmo</p>
                                       	</div>
                                   	</div>
                                </li>
                            </ul>
                        </div>
                        </br>
                  	</div>
                    
                    
                    
                    
                    
                    
                    <!-- Sidebar -->
                    <div class="col-md-4 sidebar right-sidebar">
                    	<div class="widget sidebar-widget upcoming-events-widget">
                            <h3 class="title widgettitle" style="color:dimgrey"><i class="fa fa-folder"></i> {{ 'evenement_a_venir' | translate }}</h3>
          
								<div class="row" style="background:#e8e8e8;margin-left:7%;margin-right:7%;padding-top:1%;padding-bottom:1%;border-radius:5px;font-size: 100%">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="row" style="margin:2%;background-image:url(images/patterns/back4);border-radius:5px;">
										   <a href="biochimie.html" style="padding:3%;color:#fff;">Biochimie</a> 
										</div>
										<div class="row" style="margin:2%;background-image:url(images/patterns/back4);border-radius:5px;color:#fff;">
											<a href="biologie_vegetale.html" style="padding:3%;color:#fff;">Biologie des organismes végétaux</a> 
										</div>
									</div>
									 <div class="col-md-12 col-sm-12 col-xs-12">
										   <div class="row" style="margin:2%;background-image:url(images/patterns/back4);border-radius:5px;color:#fff;">
										   <a href="biologie_animale.html" style="padding:3%;color:#fff;">Biologie des organismes animaux</a> 
										</div>
										<div class="row" style="margin:2%;background-image:url(images/patterns/back4);border-radius:5px;color:#fff;">
											<a href="geosciences.html" style="padding:3%;color:#fff;">Géosciences</a> 
										</div>
										 <div class="row" style="margin:2%;background-image:url(images/patterns/back4);border-radius:5px;color:#fff;">
											<a href="physique.html" style="padding:3%;color:#fff;">Physique</a> 
										</div>
									</div>
									 <div class="col-md-12 col-sm-12 col-xs-12">
										   <div class="row" style="margin:2%;background-image:url(images/patterns/back4);border-radius:5px;color:#fff;">
											   <a href="maths_info.html" style="padding:3%;color:#fff;">Mathématiques & Informatique</a> 
										</div>
										<div class="row" style="margin:2%;background-image:url(images/patterns/back4);border-radius:5px;color:#fff;">
											<a href="Chimie.html" style="padding:3%;color:#fff;">Chimie</a> 
										</div>
									</div>
								</div>
                            <div class="upcoming-events-footer">
                            	<hr class="sm">
                            </div>
                        </div>
						
						
						
						<div class="widget sidebar-widget upcoming-events-widget">
                            <h3 class="title widgettitle" style="color:dimgrey"><i class="fa fa-folder"></i> Sur le chemin du savoir ...</h3>
						</div>
	
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="border-radius:10px;">     
                                    <div><img src="images/homeSlide/ang1.gif" width="50%"></div>  
                            </div>
                        </div>

                    </div>
              	</div>
          	</div>
        </div>
   
    

    <!-- Start Featured Projects -->
<div style="margin-left:7%;margin-right:7%;">
    <div class="featured-projects">
    	<div class="container">
        	<div class="row"> 
            	<div class="col-md-4 col-sm-4 format-standard">
                	<span class="featured-project-block">
                    	<img src="images/homeSlide/info.jpg" alt="" class="featured-image">
                        <span class="project-overlay">
                        	<span class="project-title">en salle informatique</span>
                        	<span class="project-cat">Fac Sciences</span>
                        </span>
                    </span>
                </div>
            	<div class="col-md-4 col-sm-4 format-standard">
                	<span class="featured-project-block">
                    	<img src="images/homeSlide/chimie2.jpg" alt="" class="featured-image">
                        <span class="project-overlay">
                        	<span class="project-title">au labo de Biochimie</span>
                        	<span class="project-cat">fac sciences</span>
                        </span>
                    </span>
                </div>
            	<div class="col-md-4 col-sm-4 format-standard">
                	<span class="featured-project-block">
                    	<img src="images/homeSlide/cpos3.JPG" alt="" class="featured">
                        <span class="project-overlay">
                        	<span class="project-title">Distribution des ordinateurs</span>
                        	<span class="project-cat">fac sciences</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    
</br></br></br>


<div class="row" style="margin-left:7%;margin-right:7%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <span style="color:crimson;font-size:110%;">
        <i>Quelques liens utiles :</i>   
        </span>
    </div>
</div>
<div class="row" style="background:#e8e8e8;margin-left:7%;margin-right:7%;padding-top:1%;padding-bottom:1%;border-radius:5px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
           <!--<div class="col-md-12 text-center"><h3>Product Carousel</h3></div>-->
      <div class="col-md-12" style="margin-top: 1%; margin-bottom: 1%;">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.editions2015.com/cameroun/cartes.php"><img src="images/homeSlide2/drapeau.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="https://www.prc.cm/"><img src="images/homeSlide2/pr.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.spm.gov.cm/"><img src="images/homeSlide2/immeblEtoile.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div> 
			<div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minesup.gov.cm/"><img src="images/homeSlide2/inivers.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minefop.cm/"><img src="images/homeSlide2/minefop5.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minresi.cm/"><img src="images/homeSlide2/minresi.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>   
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.minfopra.gov.cm/"><img src="images/homeSlide2/minefopra2.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>  
            <div class="item">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <a href="http://www.fnecm.org/"><img src="images/homeSlide2/fne.jpeg" class="img-responsive" width="100%;"></a>
              </div>
            </div>
            
            </div>
      </div>
        </div>
    </div>
</div>



</br></br></br>


    <div class="row" style="font-size:120%;background: gray;border-radius:0px;color:#fff;text-align:center;height:25px;">
          <div class="col-md-12 col-sm-12 col-xs-12 ">  
              <span style="font-size:100%;">TPE || Thème : conception du site web de la faculté des sciences de l'univerté de Daoula</span> 
          </div>
    </div>


    <footer class="site-footer site-bottom-footer" style="text-align:center;">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 col-sm-12">
                	<p>&copy; {{ 'dev1' | translate }} le groupe de TPE N°2 | Programmation web |Niveau 1|Sous-département Informatique|Sémestre 1 / 2018-2019 | {{ 'dev2' | translate }}</p>
                </div>
            	
            </div>
        </div>
    </footer>
    <!-- End Footer --> 
</div>









<!--<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>--> <!-- Jquery Library Call -->
<script src="vendor/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider --> 
<script src="vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> 
<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script src="js/revolution-slider-init.js"></script> <!-- Revolutions Slider Intialization --> 
<script src="vendor/countdown/js/jquery.countdown.min.js"></script> <!-- Jquery Timer --> 
<script src="js/stat.js"></script>     
</body>
</html>